Cython==0.29.14
h5py==2.10.0
jupyter-client==5.3.4
jupyter-core==4.6.1
Keras==2.0.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==2.2.4
numpy==1.16.6
scikit-image==0.14.5
scikit-learn==0.20.4
scipy==1.2.2
Shapely==1.6.4.post2
sklearn==0.0
subprocess32==3.5.4
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.15.4
trimesh==3.6.20
